<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome to
        <%= title %>
    </h1>
    <ul>
        <li><a href="/clothes">node服装</a></li>
        <li><a href="/furnitrue">node家具</a></li>
        <li><a href="/electric">node电器</a></li>
    </ul>
</body>

</html>